Support for multiple cookies

Hi @aporat and @AlexDisler,

In a simple test I was running, the webserver sent the following response header:

```
Date: Thu, 26 Nov 2015 23:07:42 GMT
Server: Apache/2.4.16 (Unix)
Set-Cookie: CookieTesteName1=CookieTesteValue1; expires=Fri, 27-Nov-2015 00:07:42 GMT; Max-Age=3600; path=/folder; domain=.domain.com; secure
Set-Cookie: CookieTesteName2=CookieTesteValue2; expires=Fri, 27-Nov-2015 00:07:42 GMT; Max-Age=3600; path=/folder; domain=.domain.com; secure
CustomHeaderName: CustomHeaderValue
Content-Length: 2397
Keep-Alive: timeout=5, max=100
Connection: Keep-Alive
Content-Type: text/html
```

Please, note that there is two "Set-Cookie", but response.headers["Set-Cookie"] using cordova-plugin-fetch only returns a string containing the last "Set-Cookie" value. Is this the expected result?


+1


Hi,
  Based on RFC 6265, sections 3.1, a server is allowed to send multiples Set-Cookies.
